/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Para asegurar que padding y border no afecten el tamaño total */
}

/* Estilo para el navbar */
nav {
    background-color: #1a1a1a;
    padding: 15px;
}

nav a {
    color: #0ff; /* Azul neón */
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #ff00ff; /* Rosa neón */
}

/* Estilos para los títulos */
h1 {
    color: #0ff;
    text-shadow: 0 0 10px #0ff;
    margin-top: 20px;
}

/* Estilo del formulario */
form {
    background-color: #222;
    padding: 20px;
    width: 100%;
    max-width: 600px; /* Limitar el ancho máximo */
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px #0ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    width: 100%; /* Hacer que ocupen el 100% del contenedor */
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #0ff;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 16px;
}

button {
    background-color: #0ff;
    color: #121212;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

button:hover {
    background-color: #ff00ff;
    box-shadow: 0 0 10px #ff00ff;
}

/* Estilo de la lista de productos */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #1a1a1a;
    padding: 15px;
    margin: 10px auto;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 0 10px #0ff;
}

/* Estilo para la paginación */
#pagination {
    margin: 20px;
}

#pagination button {
    margin: 5px;
    width: 120px;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    form {
        width: 90%; /* Aumenta el ancho en pantallas más pequeñas */
        padding: 15px;
    }

    input, button {
        width: 100%;
        padding: 10px;
    }

    ul li {
        width: 90%; /* Hacer que los productos se adapten en pantallas más pequeñas */
    }

    #pagination button {
        margin: 5px;
        width: 100px;
    }
}

@media (max-width: 480px) {
    nav {
        padding: 10px;
    }

    nav a {
        margin: 0 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    form {
        width: 95%;
        padding: 10px;
    }

    input, button {
        padding: 8px;
    }
    
    #pagination button {
        margin: 5px;
        width: 100px;
    }
}
